<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Generator</title>
    <!-- Include your sudoku logic script -->
    <script src="./populateGenerator.js"></script>
</head>

<body>
    <h1>Sudoku Generator</h1>

    <button onclick="generateBoard('easy')">Generate Easy Board</button>
    <button onclick="generateBoard('medium')">Generate Medium Board</button>
    <button onclick="generateBoard('hard')">Generate Hard Board</button>

    <br></br>
    <div id="boardContainer"></div>

    <button id="revealSolutionBtn" style="display:none;" onclick="revealSolution()">Reveal Solution</button>
</body>

</html>
